<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
			<include name="smokeTest"></include>
		</run>
	</groups>
	<test thread-count="5" name="MyappTestNG_Test">
		<classes>
			<class name="com.myapp.login.LoginTest" />

			<class name="com.myapp.home.HomeTest" />

			<class name="com.myapp.logout.LogoutTest" />
		</classes>
	</test> <!-- MyappTestNG_Test -->
</suite> <!-- Suite -->
